.head {
  width: 700px;
  text-align: center;
}

h4 {
  margin-top: 15px;
  margin-bottom: 20px;
}

.device_link {
  width: 400px;
}

.device_content {
  width: 700px;
  height: 600px;
  text-align: center;
}

.row_new {
  margin-top: 0.1%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}