.head {
  width: 700px;
  text-align: center;
}

h4 {
  margin-top: 15px;
  margin-bottom: 20px;
}

.device_link {
  width: 400px;
}

.device_content {
  width: 700px;
  height: 600px;
  text-align: center;
  margin-bottom: 30px;
}

.row_new {
  margin-top: 0.1%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.edit_button {
  width: 30px;
  height: 30px;
  margin-bottom: 7px;
}

.hidden {
  display: none;
}

.accept {
  height: 30px;
  margin-bottom: 7px;
  display: none;
  align-items: center;
}