{% extends "base.html" %}
{% block title %}Домашняя страница{% endblock %}
{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home/homepage.css') }}">
  <div class="container_header">
    <div class="row_new">
      <a href="http://www.geogr.msu.ru/" class="header_img_wide" target="_blank">
        <img src="{{ url_for('static', filename='img/msu_geo/geodep_logo.jpg') }}" alt="" class="wide">
      </a>
      <a href="http://www.geogr.msu.ru/" class="header_img_default" target="_blank">
        <img src="{{ url_for('static', filename='img/msu_geo/geo.png') }}" alt="" class="wide">
      </a>
      <a href="http://www.momsu.ru/" class="header_img_mega_wide" target="_blank">
        <img src="{{ url_for('static', filename='img/msu_geo/mo_logo.jpg') }}" alt="" class="wide">
      </a>
      <a href="https://www.minobrnauki.gov.ru" class="header_img_medium" target="_blank">
        <img src="{{ url_for('static', filename='img/msu_geo/mon_logo.jpg') }}" alt="" class="wide">
      </a>
    </div>
  </div>
  <div class="mx-auto head">
    <h1>Аэрозольные комплексы МГУ</h1>
  </div>
  {% for complex, devices in complex_to_device.items() %}
    <div id="com{{ complex.id }}">
      <h2 class="ms-3 mb-2">{{ complex }}</h2>
    </div>
    <div class="pt-0 my-5 ms-3">
      <div class="container-fluid">
        <div class="row">
          {% for device in devices %}
            {% if device.show %}
              <div id="dev{{ device.id }}" class="device_content">
                <h4>{{ device.name }}</h4>
                <hr>
                {% include "includes/devices/recent/graph_" ~ device.full_name ~ ".html" %}
                <a class="btn btn-dark device_link"
                   href="{{ url_for('device', device_id=device.id) }}">
                  Подробнее
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}