{% extends "base.html" %}
{% block title %}Контакты{% endblock %}
{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/contacts/ac_contacts.css') }}">
  <div class="mx-auto head">
    <h1>Контакты</h1>
  </div>
  <div class="main">
    <div class="framer">
      <h4>Расположение АК МГУ</h4>
      <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa4691f2eda0d9e069afd6459c2400d89f80fdcd943567bfa97014712890fcd0c&amp;source=constructor"
              width="800"
              height="600"
              frameborder="0"
      ></iframe>
    </div>
    <div style="width: 35%; margin-left: 3%;">
      <h5>
        <img
                class="rounded"
                src="{{ url_for('static', filename='img/users/holder.png') }}"
                width="180"
                alt=""
                align="left"
                vspace="5"
                hspace="5"
        />
        Поповичева Ольга Борисовна, ведущий научный сотрудник Географического факультета МГУ, НИИЯФ МГУ, к.ф.-м.н.
        <a href="mailto:olga.popovicheva@gmail.com">
          olga.popovicheva@gmail.com
        </a>
      </h5>
    </div>
    <br><br><br><br>
    <div style="text-align: center; float: left; margin-left: 3%;">
      <h4>
        Об Аэрозольном комплексе
      </h4>
      <iframe
              width="640"
              height="360"
              src="{{ url_for('static', filename='video/About_MSU_aerosol_complex.mp4') }}"
              title="Об  инструментальном  аэрозольном комплексе рассказывают Н.С. Касимов и О.Б. Поповичева"
              frameborder="0"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
              sandbox
      ></iframe>
    </div>
  </div>
{% endblock %}