{% extends "base.html" %}
{% block title %}Контакты{% endblock %}
{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/contacts/ac_contacts.css') }}">
  <div class="main">
    <script
            type="text/javascript"
            charset="utf-8"
            async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa4691f2eda0d9e069afd6459c2400d89f80fdcd943567bfa97014712890fcd0c&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"
    >
    </script>
    <p style="font-style: italic; margin-top: 2%;">
      Ведущий научный сотрудник Географического факультета МГУ:
      <a href="mailto:olga.popovicheva@gmail.com">
        olga.popovicheva@gmail.com
      </a>
    </p>
  </div>
{% endblock %}