{% extends "base.html" %}
{% block title %}Контакты разработчиков{% endblock %}
{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/contacts/developers_contacts.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts/font-awesome.min.css') }}">
  <div class="mx-auto head">
    <h1>Наша команда</h1>
  </div>
    <div class="col member_holder my-5 ms-5" style="width: 45%;">
      <h5 style="margin-top: 16%;">
        <img
                class="round"
                src="{{ url_for('static', filename='img/devs/webdev.jpg') }}"
                width="222"
                alt=""
                align="left"
                vspace="5"
                hspace="5"
                style="margin-top: -9%;"
        />
        <img
                src="{{ url_for('static', filename='img/qrs/webdev_qr.png') }}"
                width="222"
                alt=""
                align="left"
                vspace="5"
                hspace="5"
                style="margin-top: -9%; margin-bottom: 5%;"
        />
        Казиев Иван.<br>
        Backend и frontend разработчик, тестировщик.
        <a href="https://t.me/omixyy" target="_blank"><i class="fa fa-telegram"></i></a>
        <a href="https://github.com/omixyy" target="_blank"><i class="fa fa-github"></i></a>
      </h5>
    </div>
    <br><br><br>
    <div class="col member_holder my-5 ms-5" style="width: 45%;">
      <h5 style="margin-top: 16%;">
        <img
                class="round"
                src="{{ url_for('static', filename='img/devs/datascientist.png') }}"
                width="222"
                alt=""
                align="left"
                vspace="5"
                hspace="5"
                style="margin-top: -9%;"
        />
        <img
                src="{{ url_for('static', filename='img/qrs/datascientist_qr.png') }}"
                width="222"
                alt=""
                align="left"
                vspace="5"
                hspace="5"
                style="margin-top: -9%; margin-bottom: 5%;"
        />
        Чугунов Арсений.<br>Аналитик данных, разработчик Телеграм-бота.
        <a href="https://t.me/lotossoks" target="_blank"><i class="fa fa-telegram"></i></a>
        <a href="https://github.com/lotoossoks" target="_blank"><i class="fa fa-github"></i></a>
      </h5>
    </div>

{% endblock %}