<form method='POST' {% if view_name == 'device' %}  enctype="multipart/form-data" {% endif %}>
  {% if message_success %}
    <div class="alert alert-success" role="alert">
      {{ message_success }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="float: right"></button>
    </div>
  {% elif message_error %}
    <div class="alert alert-danger" role="alert">
      {{ message_error }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="float: right"></button>
    </div>
  {% endif %}
  <div>
    {{ form.csrf_token }}
  </div>
  {% for field in form if field.name != 'csrf_token' %}
    {% if field.name != 'role' or user.role %}
      <div class="mb-3">
        {% if field.name != 'submit' %}
          <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
          {% if view_name != 'device' %}
            {{ field(class="form-control") }}
          {% else %}
            {{ field(class="form-control", style="width: 465px; margin-bottom: -50px;") }}
          {% endif %}
          {% if field.help_text %}
            <div class="form-text">{{ field.help_text }}</div>
          {% endif %}
        {% else %}
          <div class="mx-auto">
            {{ field(class="btn btn-dark mt-5", type="submit") }}
            {% if view_name == 'profile' %}
              <a type="button" href="{{ url_for('logout') }}" class="btn btn-dark mt-5" style="margin-right: 15px">Выйти</a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
</form>
