<form method='POST'>
  {% if message_success %}
    <div class="alert alert-success" role="alert">
      {{ message_success }}
    </div>
  {% elif message_error %}
    <div class="alert alert-danger" role="alert">
      {{ message_error }}
    </div>
  {% endif %}
  <div>
    {{ form.csrf_token }}
  </div>
  {% for field in form if field.name != 'csrf_token' %}
    <div class="mb-3">
      {% if field.name != 'submit' %}
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field(class="form-control") }}
        {% if field.help_text %}
          <div class="form-text">{{ field.help_text }}</div>
        {% endif %}
      {% else %}
        {{ field(class="btn btn-dark mt-5", type="submit") }}
      {% endif %}
    </div>
  {% endfor %}
</form>
