{% block header %}
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"
       href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='img/MSU_logo.png') }}" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if view_name == 'homepage' %} active {% endif %}"
             href="{{ url_for('home') }}" id="home-link">
            Главная
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name == 'about' %} active {% endif %}"
             href="{{ url_for('about') }}">
            О сайте
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name == 'ac_contacts' %} active {% endif %}"
             href="{{ url_for('ac_contacts') }}">
            Контакты
          </a>
        </li>
        {% if user and user.is_authenticated and user.role.can_download_data %}
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'archive' %} active {% endif %}"
               href="{{ url_for('archive') }}">
              Архив
            </a>
          </li>
        {% endif %}
        {% if user and user.is_authenticated and user.role.can_access_admin %}
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'devices' %} active {% endif %}"
               href="{{ url_for('admin.admin_settings') }}">
              Админка
            </a>
          </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Графики
          </a>
          <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
            {% for _, graphs in complex_to_graphs.items() %}
              {% for graph in graphs %}
                {% if graph.device.show and not graph.device.archived %}
                  <li>
                    <a class="dropdown-item"
                       href="{{ url_for('graph', graph_id=graph.id) }}">{{ graph }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Комплексы
          </a>
          <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
            {% for com, _ in complex_to_graphs.items() %}
              <li>
                <a class="dropdown-item"
                   href="{% if view_name != 'homepage' %}
                   {{ url_for('home') }}#com{{ com.id }}
                   {% else %}
                   #com{{ com.id }}
                   {% endif %}">
                  {{ com }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <!--<form class="d-flex">
        <input class="form-control me-2" id="searchInput" placeholder="Поиск">

      </form>
      <button class="btn btn-outline-success me-5" onclick="searchText()">Найти</button>-->
      {% if user and user.is_authenticated and user.role %}
        {% if user.role.can_access_admin %}
          <span class="badge rounded-pill bg-warning text-dark me-3 mt-1" style="float: left;">{{ user.role.name }}</span>
        {% elif user.role.can_upload_data or user.role.can_download_data %}
          <span class="badge rounded-pill bg-dark me-3 mt-1" style="float: left;">{{ user.role.name }}</span>
        {% endif %}
      {% endif %}
      {% if user and not user.is_authenticated %}
        <a type="button"
           href="{{ url_for('login') }}"
           class="btn btn-outline-dark ml-5">
          Войти
        </a>
      {% elif user %}
        <a class="nav-link"
           href="{{ url_for('profile') }}"
           style="float: left;">
          {{ user.login }}
        </a>
      {% endif %}
      </div>
    </div>
  </nav>
</header>
{% endblock header %}