{% block header %}
<header>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand"
       href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='img/MSU_logo.png') }}" width="30" height="30" alt=""
           style="margin-left: 15px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link {% if view_name == 'homepage' %} active {% endif %}"
             href="{{ url_for('home') }}" id="home-link">
            Главная
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name == 'about' %} active {% endif %}"
             href="{{ url_for('about') }}">
            О сайте
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name == 'ac_contacts' %} active {% endif %}"
             href="{{ url_for('ac_contacts') }}">
            Контакты
          </a>
        </li>
        {% if user and user.is_authenticated and user.role.can_download_data %}
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'archive' %} active {% endif %}"
               href="{{ url_for('archive') }}">
              Архив
            </a>
          </li>
        {% endif %}
        {% if user and user.is_authenticated and user.role.can_access_admin %}
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'devices' %} active {% endif %}"
               href="{{ url_for('admin.admin_settings') }}">
              Админка
            </a>
          </li>
        {% endif %}
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                 href="#" id="navbarDarkDropdownMenuLink"
                 role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">
                Графики
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                {% for _, graphs in complex_to_graphs.items() %}
                  {% for graph in graphs %}
                    {% if graph.device.show and not graph.device.archived %}
                      <li>
                        <a class="dropdown-item"
                           href="{{ url_for('graph', graph_id=graph.id) }}">{{ graph }}
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                 href="#"
                 id="navbarDarkDropdownMenuLink"
                 role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">
                Комплексы
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                {% for com, _ in complex_to_graphs.items() %}
                  <li>
                    <a class="dropdown-item"
                       href="{% if view_name != 'homepage' %}
                       {{ url_for('home') }}#com{{ com.id }}
                       {% else %}
                       #com{{ com.id }}
                       {% endif %}">
                      {{ com }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </ul>
    </div>
    {% if user and user.is_authenticated and user.role %}
      {% if user.role.can_access_admin %}
        <span class="badge rounded-pill bg-warning text-dark">{{ user.role.name }}</span>
      {% elif user.role.can_upload_data or user.role.can_download_data %}
        <span class="badge rounded-pill bg-dark">{{ user.role.name }}</span>
      {% endif %}
    {% endif %}
    {% if user and not user.is_authenticated %}
      <a type="button"
         href="{{ url_for('login') }}"
         class="btn btn-outline-dark ml-5"
         style="margin-right: 15px">
        Войти
      </a>
    {% elif user %}
      <a class="nav-link mx-3"
         href="{{ url_for('profile') }}"
         style="float: right;">
        {{ user.login }}
      </a>
    {% endif %}
  </nav>
</header>
{% endblock header %}