.form-control:focus {
  border-color: #000000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type="datetime-local"], input[type="file"] {
  color-scheme: dark;
}