{% extends "base.html" %}
{% block title %}Домашняя страница{% endblock title %}
{% block content %}
<div class="mx-auto" style="width: 500px; text-align: center;">
  <h1 style="margin-top: 15px; margin-bottom: 50px;">Данные Аэрозольного комплекса МГУ</h1>
</div>

<div class="mx-auto" style="width: 1000px; height: 600px; text-align: center;">
  <h2 style="margin-top: 15px; margin-bottom: 20px;">Aethalometer AE-33 S09-01249</h2>
  <hr>
  {% include "includes/devices/graph_AE33-S09-01249.html" %}
</div>

<div class="mx-auto" style="width: 1000px; height: 600px; text-align: center;">
  <h2 style="margin-top: 15px; margin-bottom: 20px;">LVS</h2>
  <hr>
  {% include "includes/devices/graph_LVS.html" %}
</div>

<div class="mx-auto" style="width: 1000px; height: 600px; text-align: center;">
  <h2 style="margin-top: 15px; margin-bottom: 20px;">PNS</h2>
  <hr>
  {% include "includes/devices/graph_PNS.html" %}
</div>

<div class="mx-auto" style="width: 1000px; height: 600px; text-align: center;">
  <h2 style="margin-top: 15px; margin-bottom: 20px;">TCA08</h2>
  <hr>
  {% include "includes/devices/graph_TCA08.html" %}
</div>

<div class="mx-auto" style="width: 1000px; height: 600px; text-align: center;">
  <h2 style="margin-top: 15px; margin-bottom: 20px;">Web_MEM</h2>
  <hr>
  {% include "includes/devices/graph_Web_MEM.html" %}
  {% endblock %}
</div>