.content {
  margin-left: 3%;
  width: 95%
}

.text {
  margin-top: 2%;
}

.text.up {
  margin-top: 1%;
}

.message, download {
  width: 20%;
}

.row {
  width: 30%;
}

.row_buttons {
  width: 30%;
}

.col_button {
  width: 25%;
}

.calendar_row {
  width: 20%;
  margin-top: 1%;
}

.button_row_container {
  width: 65%;
}

.arrow {
  width: 5%;
  text-align: center;
  line-height: 90px;
  margin-left: -20%;
}

commit_button {
  float: center;
}

.send_button {
  margin-right: 2%;
}

.graph_container {
  width: 55%;
  height: 40%;
  margin-bottom: 3%;
  margin-top: 1%;
}

h5 {
  margin-top: -1%;
}
