{% extends "base.html" %}
{% block title %}Домашняя страница{% endblock title %}
{% block content %}
  <div class="mx-auto" style="width: 500px; text-align: center;">
    <h1 style="margin-top: 15px; margin-bottom: 50px;">Данные Аэрозольного комплекса МГУ</h1>
  </div>
  {% for device in devices %}
    <div class="mx-auto" style="width: 1000px; height: 600px; text-align: center;">
      <h2 style="margin-top: 15px; margin-bottom: 20px;">{{ device.name }}</h2>
      <hr>
      {% include "includes/devices/graph_" ~ device.name_on_disk ~ ".html" %}
      <a class="btn btn-dark" style="width: 400px;" href="{{ url_for('device_details.device', device_id=device.id) }}">Подробнее</a>
    </div>
  {% endfor %}
{% endblock %}