{% extends "base.html" %}
{% block title %}{{ device }}{% endblock %}
{% block content %}
  <div class="mx-auto" style="width: 50%; text-align: center;">
    <h1>Данные с прибора {{ device }}</h1>
  </div>
  <h3 style="margin-left: 2%; margin-top: 2%">{{ device.name }}, {{ device.serial_number }}</h3>
  <h5 style="margin-left: 2%; margin-top: 2%">Состоит в комплексе "{{ complex }}"</h2>
  <div style="width: 55%; height: 40%; float: left; margin-left: 2%; margin-bottom: 8%">
    {% include "includes/devices/full/graph_" ~ device_to_name[device.name] ~ ".html"  %}
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-dark">Dark</button>
  </div>
{% endblock %}
