video {
  float: right;
  margin-right: 1%;
}

.content_container {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 8%;
}

p {
  font-size: 18px;
  width: 40%;
}

p.right {
  float: right;
  width: 30%;
  margin-right: 15%;
}