{% extends 'admin/master.html' %}
{% block body %}
<a href="{{ url_for('home.index') }}">На главную</a>
{% for name, _ in name_to_device.items() %}
  <a href="#{{ name }}">{{ name }}</a>
{% endfor %}
<form method="POST">
  {% for name, dev in name_to_device.items() %}
    <br>
    <div id="{{ name }}">
      <h3>{{ name }}</h3>
    </div>
    <h6>Выберите столбец со временем</h6>
    <div name="{{ name }}">
      {% for col in dev.time_columns %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name={{ name ~ "_rb" }} id="{{ "flexRadioDefault1" ~ name ~ loop.index }}" value="{{ col.name }}" {% if col.use %} checked {% endif %}>
          <label class="form-check-label" for={{ "flexRadioDefault1" ~ name ~ loop.index }}>
            {{ col.name }}
          </label>
        </div>
      {% endfor %}
      </div>
    <br>
    <h6>Опишите формат времени в файлах с данными</h6>
    <input type="datetime_format" class="form-control" name={{ "datetime_format_" ~ name }} id={{ "datetime_format" ~ dev.id }} placeholder="Datetime format" style="width: 30%" value={% if not dev.time_format %} "" {% else %} "{{ dev.time_format }}" {% endif %}>
    <label class="form-control-label mb-4" for={{ "datetime_format" ~ dev.id }} style="font-size:13px;">
      Например d-m-Y H:M:S
    </label>
    <br>
    <h6>Выберите столбцы, которые будут отображаться на графике</h6>
    {% for column in dev.columns %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name={{ name ~ "_cb" }} id={{ "flexCheckDefault" ~ name ~ loop.index }} value="{{ column.name }}" {% if column.use %} checked {% endif %}>
        <label class="form-check-label" for={{ "flexCheckDefault" ~ name ~ loop.index }}>
          {{ column.name }}
        </label>
      </div>
    {% endfor %}
    <hr>
  {% endfor %}
  <button type="submit" class="btn btn-primary mb-3" style="margin-top: 50px">Подтвердить</button>
</form>
{% endblock %}