{% extends 'admin/master.html' %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/admin_style.css') }}">
<a href="{{ url_for('home') }}">На главную</a>
{% for name, _ in name_to_device.items() %}
  <a href="#{{ name }}">{{ name }}</a>
{% endfor %}
{% if message_error %}
  <div class="alert alert-danger" role="alert">
    {{ message_error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
{% endif %}
{% if message_success %}
  <div class="alert alert-success" role="alert">
    {{ message_success }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
{% endif %}
<form method="POST">
  {% for name, dev in name_to_device.items() %}
    <br>
    <div id="{{ name }}">
      <h3>
        {{ name }}
        <button class="btn btn-outline-dark" type="submit" style="margin-top: -0.5%; margin-left: 1%;" name="device" value="{{ dev.full_name }}" data-bs-toggle="tooltip" data-bs-placement="right" title="Обновить все данные из облака">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap-reboot" viewBox="0 0 16 16">
            <path d="M1.161 8a6.84 6.84 0 1 0 6.842-6.84.58.58 0 1 1 0-1.16 8 8 0 1 1-6.556 3.412l-.663-.577a.58.58 0 0 1 .227-.997l2.52-.69a.58.58 0 0 1 .728.633l-.332 2.592a.58.58 0 0 1-.956.364l-.643-.56A6.8 6.8 0 0 0 1.16 8z"/>
            <path d="M6.641 11.671V8.843h1.57l1.498 2.828h1.314L9.377 8.665c.897-.3 1.427-1.106 1.427-2.1 0-1.37-.943-2.246-2.456-2.246H5.5v7.352zm0-3.75V5.277h1.57c.881 0 1.416.499 1.416 1.32 0 .84-.504 1.324-1.386 1.324z"/>
          </svg>
        </button>
      </h3>
    </div>
    <h6>Выберите столбец со временем</h6>
    <div name="{{ name }}">
      {% for col in dev.time_columns %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="{{ name ~ '_rb' }}" id="{{ 'flexRadioDefault1' ~ name ~ loop.index }}" value="{{ col.name }}" {% if col.use %} checked {% endif %}>
          <label class="form-check-label" for="{{ 'flexRadioDefault1' ~ name ~ loop.index }}">
            {{ col.name }}
          </label>
        </div>
      {% endfor %}
      </div>
    <br>
    <h6>Опишите формат времени в файлах с данными</h6>
    <input type="datetime_format" class="datetime_input form-control" name='{{ "datetime_format_" ~ name }}' id={{ "datetime_format" ~ dev.id }} placeholder="Datetime format" value={% if not dev.time_format %} "" {% else %} "{{ dev.time_format }}" {% endif %}>
    <label class="input_label form-control-label mb-4" for={{ "datetime_format" ~ dev.id }}>
      Например d-m-Y H:M:S
    </label>
    <br>
    <div class="container">
      <div class="row">
        <div style="width: 30%;">
          <h6>Выберите столбцы, которые будут отображаться на графике</h6>
          {% for column in dev.columns %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name='{{ name ~ "_cb" }}' id='{{ "flexCheckDefault" ~ name ~ loop.index }}' value="{{ column.name }}" {% if column.use %} checked {% endif %}>
              <label class="form-check-label" for='{{ "flexCheckDefault" ~ name ~ loop.index }}'>
                {{ column.name }}
              </label>
            </div>
          {% endfor %}
        </div>
        <div style="width: 30%;">
        <h6>Выберите столбцы, отображающиеся по умолчанию</h6>
          {% for column in dev.columns %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name='{{ name ~ "_cb_def" }}' id="default_{{ 'flexCheckDefault' ~ name ~ loop.index }}" value="{{ column.name }}" {% if column.default %} checked {% endif %}>
              <label class="form-check-label" for="default_{{ 'flexCheckDefault' ~ name ~ loop.index }}">
                {{ column.name }}
              </label>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <hr>
  {% endfor %}
  <button type="submit" class="btn btn-primary mb-3 button_accept">Подтвердить</button>
</form>
{% endblock %}