.form-group {
  margin-left: 1%;
  margin-bottom: 2%;;
}

.form-control {
  width: 25%;
}

h4 {
  margin-left: 1%;
  margin-bottom: 1%;
}

.list-group {
  width: 25%;
  margin-left: 1%;
  margin-bottom: 5.15%;
}
