<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/metrics/yandex_metrika.js') }}"></script>
  <!-- /Yandex.Metrika counter -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer/footer.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/fav/favicon.ico') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/fav/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/fav/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/fav/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='img/fav/site.webmanifest') }}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <script defer src="{{ url_for('static', filename='js/bootstrap/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plotly/plotly-2.30.0.min.js') }}"></script>
  <title>{% block title %}{% endblock title %}</title>
</head>
{% include "includes/header.html" %}
<body>
  {% block content %}{% endblock content %}
  {% include "includes/footer.html" %}
</body>
</html>